# python
.venv/
__pycache__/
*.pyc

# env files
.env
.env.local

# vs_code
.vscode/

# logfiles / cache
*.log
/cache/
session_data.json
logs/
.DS_Store

# claude
CLAUDE.md
.claude/settings.local.json

#project docs
mvp.md

# data (show 1 book E2E for data prep pipeline)
# exclude archive completely
data/archive/
# base epub
data/epub/*
!data/epub/Jack_London-The_Iron_Heel.epub
# base md
data/md_raw/*
!data/md_raw/Jack_London-The_Iron_Heel.md
# clean md
data/md_clean/*
!data/md_clean/Jack_London-The_Iron_Heel.md
!data/md_clean/Jack_London-The_Iron_Heel-foreword.md
!data/md_clean/Jack_London-The_Iron_Heel-world_context.md
# json raw
data/json_raw/*
!data/json_raw/Jack_London-The_Iron_Heel.json
#json
json

# diverse documents
docs/

# api
scripts/api_limit.py


