# python
.venv/
__pycache__/
*.pyc

# env files
.env
.env.local

# vs_code
.vscode/

# logfiles / cache
*.log
/cache/
session_data.json
logs/
.DS_Store

# claude
CLAUDE.md
.claude/settings.local.json

#project docs
mvp.md

# data: book processing pipeline: epub -> jsonl
# epub
data/epub/*
!data/epub/Jack_London-The_Iron_Heel.epub

# md
# md/raw
data/md/raw/*
!data/md/raw/Jack_London-The_Iron_Heel.md
# md/final/* text/ref/wc
# sub dirs: text -> novel content / wc -> world context / ref -> diverse reference material
data/md/final/text/*
!data/md/final/text/Jack_London-The_Iron_Heel.md
data/md/final/ref/*
!data/md/final/ref/Jack_London-The_Iron_Heel-foreword.md
data/md/final/wc/*
!data/md/final/wc/Jack_London-The_Iron_Heel-world_context.md

# json
# json/base
data/json/base/*
!data/json/base/Jack_London-The_Iron_Heel.json
# json scenes
data/json/scenes/*
!data/json/scenes/Jack_London-The_Iron_Heel.json
# json summary
data/json/summary/*
!data/json/summary/Jack_London-The_Iron_Heel.json

# debug & archive
data/debug
data/archive/

# diverse documents / not relevant scipts
docs/